---
import '~/styles/index.css';
---
<!doctype html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Astro Site</title>
</head>
<body>
    <slot/>
</body>
</html>
